<%= include('includes/top.tmpl') %>

    <div class="main ns__schools-nav">

        <h2 class="ns__crosshead"><a href="/news/education-11950098" target="_parent">English primary school tables</a></h2>

        <h3 id="ns__schools-nav__cta" class="ns__schools-nav__cta">Compare schools in your area on Department for Education website</h3>

        <a class="ns__external-link" href="http://www.education.gov.uk/" target="_parent">Department for Education website</a>

    </div>

<%= include('includes/bottom.tmpl') %>
